
/* Styling of the jumbotron */

.jumbotron-fluid{
    background-color:#495C83 ;
    text-align: center;
}

.display-4{
    color: #F5EDDC;
    font-weight: bold;
}

/* Styling of the body */

body{
    margin: 20px;
}
.site{
  padding: 0px 70px;
}
/* Buttons */
.btn-group{
  padding: 0px 850px 10px 10px;
}





  /* Cards */

.main-card{
  padding: 50px 50px;
}
.card-deck{
  padding-left: 50px;
  }