
/* Styling of the jumbotron */

.jumbotron-fluid{
    background-color:#495C83 ;
    text-align: center;
}

.display-4{
    color: #F5EDDC;
    font-weight: bold;
}

/* Styling of the body */

body{
    margin: 20px;
}
.site{
  padding: 0px 70px;
}

/* Buttons */
.btn-group{
  padding: 0px 850px 10px 10px;
}

#newbutton{
  padding: 5px 32px;  
}

/* Search button */
#citySearch{
  background-color:#00a5cf;
  padding: 7px 106px;
  margin-top:15px; 
  border-radius: 5px;
}

/* Auto generate button */
button{
  background-color:#AAAAAA;
  padding: 7px 70px;
  margin-top: 15px; 
  border-radius: 5px;
}
  /* Cards */

/* .main-card{
  padding: 50px 50px;
} */

#card-deck{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;

  }
    
/* .wrapper {
   display:flex;
} */
.search-input {
   width: 25%;
   display: inline-block;
}
.results {
   width: 100%;
}